<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="onCancel()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>Some folders already exist in the {{targetNode}}. What would you like to do?</p>
</div>
<div class="modal-footer d-flex justify-content-between">
    <div>
        <button type="button" class="btn btn-outline-success me-2" (click)="onAppend()">Append</button>
        <button type="button" class="btn btn-outline-danger" (click)="onOverride()">Override</button>
    </div>
    <button type="button" class="btn btn-outline-secondary" (click)="onCancel()">Cancel</button>
</div>