<div class="container-fluid">
  <div class="row">
    <div class="col d-flex flex-column align-items-stretch flex-shrink-0 bg-white"
      style="width: 380px; overflow-y: auto; max-height: 100%;">
      <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
        <svg class="bi me-2" width="30" height="24">
          <use xlink:href="#bootstrap"></use>
        </svg>
        <h3 class="fs-5 fw-semibold">Labaton</h3>
      </a>
      <div class="list-group list-group-flush border-bottom scrollarea">
        <app-node *ngFor="let node of data?.children" [data]="node" [nesting]="100" (Current)="OnElementClick($event)" ></app-node>
      </div>
    </div>

    <div id="divider" class="col"></div>
    <div id="container" class="col">
      <p>Selected directory: <span style="color: rgb(37, 92, 211);">{{current ? current?.path : "none"}}</span></p>
      
      <div class="mb-3">
        <input class="form-control " type="file" style="width: 80%;" accept=".txt,.json" (change)="onFileSelect($event)">
      </div>
      <div style="width: 80%;">
        <div class="btn btn-secondary float-end">Upload</div>
      </div>
    </div>
  </div>
</div>