<div class="container-fluid">
  <div class="row">
    <div class="col d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
      
      <div class="d-flex align-items-center flex-shrink-0 p-3 border-bottom">
        <svg class="bi me-2" width="30" height="24"></svg>
        <h3 class="fs-5 fw-semibold">Labaton</h3>
      </div>

      <div class="list-group list-group-flush scrollarea" (click)="resetClicks()">
        <app-node *ngFor="let node of data?.children" [data]="node" [nesting]="100"></app-node>
      </div>

    </div>

    <div class="divider col"></div>

    <div class="_container col">

      <p>Selected directory: <span>{{foldersService.current?.path}}</span></p>

      <div class="mb-3">
        <input #fileUpload class="form-control " type="file" accept=".txt,.json" (change)="onFileSelect($event)">
      </div>

      <div class="_btn">
        <button 
          type="button" 
          class="btn btn-outline-primary float-end" 
          [disabled]="!foldersService.current || !fileData"
          (click)="onUpload()">Apply scheme</button>

      </div>
    </div>
  </div> 
</div>