<div class="list-group-item list-group-item-action py-2 lh-tight mb-2 float-end" aria-current="true"
    [ngStyle]="{'width.%' : nesting}" (click)="clickHandler()" (expanded)="expanded()" [class.active]="data.isActive">

    <div class="d-flex w-100 align-items-center justify-content-between">
        <strong class="mb-1">{{data?.name}}</strong>
        <i #arrow *ngIf="data.children.length > 0" class="fa fa-angle-left"></i>
    </div>
</div>
<div id="collapsed" [collapse]="isChildrenCollapsed">
    <app-node *ngFor="let node of data.children" [data]="node" [nesting]="nesting - 4" (Current)="EmitData($event)">
    </app-node>
</div>