<div class="list-group-item list-group-item-action py-2 lh-tight mb-2 float-end"
    [ngStyle]="{'width.%' : nesting}" (dblclick)="doubleClickHandler()" (click)="$event.stopPropagation()"
    (click)="clickHandler()" [class.active]="data?.isActive">

    <div class="d-flex w-100 align-items-center justify-content-between">
        <strong class="mb-1">{{data?.name}}</strong>
        <i *ngIf="data.children.length > 0" class="fa" [class.fa-angle-left]="isChildrenCollapsed"
            [class.fa-angle-down]="!isChildrenCollapsed"></i>
    </div>
</div>
<div id="collapsed" [collapse]="isChildrenCollapsed">
    <app-node *ngFor="let node of data.children" [data]="node" [nesting]="nesting - 4">
    </app-node>
</div>